<h1>Listing Idps</h1>
<%= link_to 'New Idp', new_idp_path %>
<table>
  <tr>
    <th>entity_id</th>
    <th>display_data</th>
    <th>enabled</th>
    <th colspan="3"></th>
  </tr>

  <% @idps.each do |idp| %>
      <tr>
        <td><%= idp.entity_id %></td>
        <td><%= idp.display_data %></td>
        <td><%= idp.enabled %></td>
        <td><%= link_to 'Show', idp_path(url_encode idp.entity_id) %></td>
        <td><%= link_to 'Edit', edit_idp_path(url_encode idp.entity_id) %></td>
        <td><%= link_to 'Destroy', idp_path(url_encode idp.entity_id),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>